.obsidian/workspace*

ingame
ingameallday
Welcome@123

1. Fill TCS form: Done
2. Clean Room: Done
3. Check tickets: Done
4. Upload a worthy ingameallday post: Done
5. 10x pushups: Done
6. Pack amlans 5 clothes with jacket: Done

1. Take out money from hyperwallet: Done
2. Research about good agentic model: Done
3. 10 Pushups: Done
4. Clean the room a bit: Done
5. Full Fair Bath: Done