.obsidian/workspace*

ingame
ingameallday
Welcome@123

1. Fill TCS form: Done
2. Clean Room: Done
3. Check tickets: Done
4. Upload a worthy ingameallday post: Done
5. 10x pushups: Done
6. Pack amlans 5 clothes with jacket: Done